:root {
  --border-color: #291d4d;
  --dialog-background: #fff384;
  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #000000;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 580px; 
  height: 400px;
  margin: 0 auto;
  outline: 3px solid rgb(15, 15, 15);
  z-index: 2;
  transform: scale(1);
  border-radius: 20px 20px 20px 20px;
  top: -75px;
  right: -75px;
}

.game-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/media/computer-background.webp");
  background-repeat: no-repeat;
  background-position: center center; 
  z-index: -1;
}

/* .game-container {
  position: relative;
  width: 300px;
  height: 235px;
  margin: 0 auto;
  outline: 1px solid white;
  z-index: 1;
  transform: scale(3) translateY(35%);
} */

.game-container canvas {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
}

.clickable-link {
  position: relative;
  z-index: 10;
}

.clickable-coordinate:hover {
  cursor: pointer;
}

#contactFormContainer {
  position: absolute;
  top: 50%;
  right: -55%;
  transform: translate(-1355%, 16%) scale(0.8);
  z-index: 2;
  width: 10%;
  height: 10%;
}


#contact .row {
  display: flex;
}

.contact-form {
  flex: 0.55; 
  padding-right: 10px;
}

.contact-info {
  flex: 0.85; 
  padding-left: 10px;
}

.tab-container {
  position: absolute;
  right: -25;
  top: 40%;
  transform: translateY(-50%);
  z-index: 9000;
  font-size: 18px;
  width: 70px;
}

.tab-container > * {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.tab-link {
  display: block;
  margin-bottom: 2px;
  padding: 3px;
  background-color: #fefd88;
  color: black;
  text-align: center;
  cursor: pointer;
}

.tab-link:nth-child(1) {
  transform: rotate(-6deg);
}

.tab-link:nth-child(2) {
  transform: rotate(3deg);
}

.tab-link:nth-child(3) {
  transform: rotate(-2deg);
}

.tab-link:nth-child(4) {
  transform: rotate(4deg);
}



@media only screen and (max-width: 500px) {
  .game-container {
    width: 300px; 
    height: 235px; 
    transform: scale(1.3) translateY(0%) translateX(14%); 
    left: -70px;
  }
  .game-wrapper {
    position: relative;
    transform: scale(1.40) translateX(30px);
  }
  .background-image {
    transform: scale(.75) translateY(-4%) translateX(-10%);
  }
  .tab-container {
    right: auto;
    left: 0;
  }
}

 @media only screen and (min-width: 501px) and(max-width: 768px) {
  .game-container {
    width: 300px;
    height: 235px;
    transform: scale(1.5) translateY(50%) translateX(15%); 
    left: -100px;
  }
  .background-image {
    transform: scale(.75) translateY(-4%) translateX(-10%);
  }
} 

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .game-container {
    width: 320px;
    height: 235px;
    transform: scale(1.5) translateY(-50%);
    left: -70px;
    top: 100px;
  }
  .background-image {
    transform: scale(.85) translateY(-2%) translateX(-16%);
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .game-container {
    width: 320px;
    height: 235px;
    transform: scale(1.5) translateY(-50%);
    left: -70px;
    top: 100px;
  }
  .background-image {
    transform: scale(.85) translateY(-2%) translateX(-14%);
  }
}


#msgNote {
  width: 80px;
  height: 80px; 
  background: #fefdca;
  position: absolute;
  top: 100px; 
  left: 100px; 
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
  border: 1px solid #fefd88;
  border-radius: 10px;
  padding: 2px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: .5em;
  text-align: center;
  line-height: normal;
  transform: rotate(-6deg);
  z-index: 500;
}