.platformer-game-container {
  position: relative;
  width: 540px; 
  height: 390px;
  display: none;
  z-index: 9999;
  outline: 3px solid rgb(15, 15, 15);
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  top: -75px; 
  left: 74px; 
}

#resetButton {
  margin-top: 700px;
}

#platformerScore {
  font-size: 1.5em;
  text-align: center;
  margin: -350px 0;}

