.snake-game-container {
  position: relative;
  width: 540px; 
  height: 390px;
  display: none;
  z-index: 9999;
  outline: 3px solid rgb(15, 15, 15);
  background-color: rgb(88, 88, 88);
  border-radius: 20px 20px 20px 20px;
  top: -75px; 
  left: 74px; 
}

#start-game {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
