.snake-game-container {
  position: absolute;
  height: 385px;
  width: 530px;
  display: none;
  z-index: 9999;
  background-color: transparent;
  top: 200px;
  right: 620px;
}

#snake-game-canvas {
  background-color: #000;
  display: block;
  background-color: transparent;
}

#start-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}





@media only screen and (max-width: 500px) {
  .snake-game-container {
    width: 300px; 
    height: 235px; 
    transform: scale(1) translateY(0%) translateX(14%); 
    left: -70px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .snake-game-container {
    width: 300px;
    height: 235px;
    transform: scale(.95) translateY(10%) translateX(90%); 
    left: -100px;
  }
} 

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .snake-game-container {
    width: 320px;
    height: 235px;
    transform: scale(1.5) translateY(-50%);
    left: -70px;
    top: 100px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .snake-game-container {
    width: 320px;
    height: 235px;
    transform: scale(1.5) translateY(-50%);
    left: -70px;
    top: 100px;
  }
}