.TextMessage2 {
  position: absolute;
  left: 40%;
  right: 5%;
  bottom: 35%;
  height: 110px;
  font-size: 12px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: black;
  box-sizing: border-box;
}

.TextMessage2_p .first-word {
  font-weight: bold;
  font-size: 15px;
}

.TextMessage2_p {
  margin: 0;
  font-size: 10px;
}

.TextMessage2 span {
  opacity: 0;
}

.TextMessage2 span.revealed {
  opacity: 1;
}

.TextMessage2_button {
  margin: 0;
  font-size: 8px;
  padding: 0;
  -webkit-appearance: none;
  background: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  position: absolute;
  right: 2px;
  bottom: 0;
}